<%start = params[:start].to_i %>
<%count = params[:count] ? params[:count].to_i : 50 %>

<%if params[:q].nil?%>
<% delayed = [resque.delayed_queue_peek(start, start + 20)].flatten %>
<% size = resque.delayed_queue_schedule_size %>
<h1>Delayed Jobs</h1>
<%else%>
<% delayed = [resque.search_delayed(params[:q], start, count)].flatten %>
<% size = resque.search_delayed_count %>
<h1>Delayed jobs search results</h1>
<%end%>

<p class='intro'>
  This list below contains the timestamps for scheduled delayed jobs.
</p>

<% unless size.zero? %>
<form method="GET" action="<%=u 'delayed'%>">
  <input type='text' name='q'>
  <input type='submit' name='' value='Search' />
</form>
<% end %>

<p class='sub'>
  Showing <%= start %> to <%= start + delayed.size %> of <b><%= size %></b> timestamps
</p>


<table>
  <tr>
    <th></th>
    <th>Timestamp</th>
    <th>Job count</th>
    <th>Class</th>
    <th>Args</th>
		<th>Queue</th>
  </tr>
	  <% delayed.each do |timestamp| %>
	    <tr>
	      <td>
	        <form action="<%= url "/delayed/queue_now" %>" method="post" style="margin-top: 0px;">
	          <input type="hidden" name="timestamp" value="<%= timestamp.to_i %>">
	          <input type="submit" value="Queue now">
	        </form>
	      </td>
	      <td><a href="<%= url "delayed/#{timestamp}" %>"><%= format_time(Time.at(timestamp)) %></a></td>
	      <td><%= delayed_timestamp_size = resque.delayed_timestamp_size(timestamp) %></td>
	      <% job = resque.delayed_timestamp_peek(timestamp, 0, 1).first %>
	      <td>
	        <% if job && delayed_timestamp_size == 1 %>
	          <%= h(job['class']) %>
	        <% else %>
	          <a href="<%= url "delayed/#{timestamp}" %>">see details</a>
	        <% end %>
	      </td>
	      <td><%= h(job['args'].inspect) if job && delayed_timestamp_size == 1 %></td>
				<td><%= h(job['queue'].inspect) if job && delayed_timestamp_size == 1 %></td>
	    </tr>
	  <% end %>
</table>


<%= partial :next_more, :start => start, :count => count, :size => size %>